* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: gold;
}

#root {
    text-align: center;
}
.buttons{
    min-width: 20px;
    font-weight: bold;
}